.env
.gemini
.vscode/
.venv/
temp/
volume/

appserver/totvs/protheus.tar.gz
appserver/totvs/protheus_data.tar.gz
dbaccess/totvs/dbaccess
licenseserver/totvs/licenseserver
mssql/resources/data.tar.gz
postgres/resources/data.tar.gz