[submodule "appserver"]
	path = appserver
	url = git@github.com:juliansantosinfo/TOTVS-Protheus-in-Docker-AppServer.git
[submodule "dbaccess"]
	path = dbaccess
	url = git@github.com:juliansantosinfo/TOTVS-Protheus-in-Docker-DbAccess.git
[submodule "licenseserver"]
	path = licenseserver
	url = git@github.com:juliansantosinfo/TOTVS-Protheus-in-Docker-LicenseServer.git
