**/.env
**/.gemini/
**/.venv/
**/.vscode/
**/temp/
**/volume/
**/GEMINI.md

appserver/totvs/protheus.tar.gz
appserver/totvs/protheus_data.tar.gz
dbaccess/totvs/dbaccess
licenseserver/totvs/licenseserver
mssql/resources/data.tar.gz
oracle/resources/data.tar.gz
postgres/resources/data.tar.gz
smartview/totvs/smartview.tar.gz
**/LINUX.X64_213000_db_home.zip
